{
  "name": "LightGrant",
  "url": "__PUBLIC_BASE_URL__",
  "callback_urls": [
    "__PUBLIC_BASE_URL__/auth/github/callback"
  ],
  "public": false,
  "hook_attributes": {
    "url": "__PUBLIC_BASE_URL__/github/webhooks",
    "active": true
  },
  "default_permissions": {
    "members": "write"
  },
  "default_events": [
    "membership"
  ]
}
